<!-- Custom footer content -->
<div class="hx-flex hx-flex-nowrap hx-justify-between hx-py-4 hx-pr-4 hx-w-full">
  <div class="hx-flex-none">
    {{ partial "theme-toggle.html" . }}
  </div>
  <div class="hx-flex hx-flex-row hx-gap-4">
    <a href="/privacy" class="hx-text-sm hx-text-gray-500 hover:hx-text-gray-700 dark:hx-text-gray-400 dark:hover:hx-text-gray-300">Privacy Policy</a>
    <a href="/terms" class="hx-text-sm hx-text-gray-500 hover:hx-text-gray-700 dark:hx-text-gray-400 dark:hover:hx-text-gray-300">Terms of Use</a>
    <a href="/security" class="hx-text-sm hx-text-gray-500 hover:hx-text-gray-700 dark:hx-text-gray-400 dark:hover:hx-text-gray-300">Security</a>
  </div>
</div> 